  <div class="row">
    <div class="column" *ngFor="let card of card1">
      <div class="card">
        <h3><b>{{ card.Textarea }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{ card.Status }}</b></h3>
        <h3>Reason:{{card.Reason}}</h3>
        <h3>Type:{{card.Type}}</h3>
        <h3>Division:{{card.Divison}}</h3>
        <h3>Category:{{card.Category}}</h3>
        <h3>Priority:{{card.Priority}}</h3>
        <h3> Department:{{card. Department}}</h3>
        <h3> Location:{{card. Location}}</h3>
        
       
      </div>
    </div>
  </div>

 