<!-- <div class="full screen">
    <div class="header">
        <div class="bg_img">
            <img src="assets/images/Header-bg.svg">
        </div>
        <div class="logo_img">
            <img src="assets/images/Logo.svg">
        </div>
    </div>
    <div class="dashboard_img">
        <img src="assets/images/Dashboard-active.svg">
    </div>
    <div class="list_img">
        <img src="assets/images/Project-list.svg" (click)="showProjectList()">
    </div>
    <div class="plus_img">
        <img src="assets/images/create-project.svg" (click)="openProjectForm()">
    </div>
    <div class="logout_img">
        <img src="assets/images/Logout.svg" (click)="logout()">
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Total Project</h3>
                <p><b>{{totalprojects}}</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Closed</h3>
                <p><b>{{closedprojects}}</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Running</h3>
                <p><b>{{runningprojects}}</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Closure Delay</h3>
                <p><b>2</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Canceled</h3>
                <p><b>{{cancelprojects}}</b></p>
            </div>
        </div>
    </div>

    <div class="chart">
        <div class="col-lg-6">
            <h1>Department wise-Total vs Closed</h1>
            <canvas id="barchart"></canvas>
        </div>
    </div>
</div>

<div class="resposive">
    
    <div class="footer">
        <div class="dashboard_img1">
            <img src="assets/images/Dashboard-active.svg">
        </div>
        <div class="list_img1">
            <img src="assets/images/Project-list.svg" (click)="showProjectList1()">
        </div>
        <div class="plus_img1">
            <img src="assets/images/create-project.svg" (click)="openProjectForm1()">
        </div>
    </div>
    <div class="logout_img1">
        <img src="assets/images/Logout.svg" (click)="logout1()">
    </div>
</div> -->


<div class="full screen">

    <div class="bg_img">
        <img src="assets/images/Header-bg.svg">
    </div>
    <div class="logo_img">
        <img src="assets/images/Logo.svg">
    </div>
    <div class="sidenav">
        <div class="dashboard_img">
            <img src="assets/images/Dashboard-active.svg">
        </div>
        <div class="list_img">
            <img src="assets/images/Project-list.svg" (click)="showProjectList()">
        </div>
        <div class="plus_img">
            <img src="assets/images/create-project.svg" (click)="openProjectForm()">
        </div>
        <div class="logout_img">
            <img src="assets/images/Logout.svg" (click)="logout()">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Total Project</h3>
                <p><b>{{totalprojects}}</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Closed</h3>
                <p><b>{{closedprojects}}</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Running</h3>
                <p><b>{{runningprojects}}</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Closure Delay</h3>
                <p><b>2</b></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Canceled</h3>
                <p><b>{{cancelprojects}}</b></p>
            </div>
        </div>
    </div>

    <div class="chart">
        <div class="col-lg-6">
            <h3>Department wise-Total vs Closed</h3>
            <canvas id="barchart"></canvas>
        </div>
    </div>
</div>
<div class="resposive">
    <div class="footer">
        <div class="dashboard_img1">
            <img src="assets/images/Dashboard-active.svg">
        </div>
        <div class="list_img1">
            <img src="assets/images/Project-list.svg" (click)="showProjectList1()">
        </div>
        <div class="plus_img1">
            <img src="assets/images/create-project.svg" (click)="openProjectForm1()">
        </div>
    </div>   
</div>
<div class="logout_img1">
    <img src="assets/images/Logout.svg" (click)="logout1()">
</div>