.content {
    padding-top: 10px;
  }
  /* .example-full-width{
column-span: 2;
  } */

  /* mdb-select.change-icons ul.select-dropdown {
    li {
      height: 60px !important;
      line-height: 60px !important;
  
      img {
        height: 50px;
        width: 50px;
      }
    }
  } */

  .example-full-width{
    column-span: 2;
  }
  .row {
    display: flex;
    gap: 80px;
    width: 100%;
    
  }
  
  .action {
    padding: 0px 25px 20px;
    flex: 1;
  }