<!-- <app-login-page></app-login-page> -->
<!-- <app-current-details></app-current-details> -->
<!-- <app-project-add-details></app-project-add-details>  -->
<!-- <app-projectlist></app-projectlist> -->
<!-- <app-bar-chart></app-bar-chart> -->
<!-- <a routerLink="chart">Chart</a> -->
<!-- <app-add-project></app-add-project> -->

<router-outlet></router-outlet>


<!-- <app-login-resp></app-login-resp> -->
<!-- <app-chart></app-chart> -->
<!-- <app-form></app-form> -->
<!-- <app-list1></app-list1> -->
<!-- <app-card1></app-card1> -->