<div class="full_screen">
    <div class="bg_img">
        <img src="assets/images/Header-bg.svg">
    </div>
    <div class="logo_img">
        <img src="assets/images/Logo.svg">
    </div>
    <div class="sidenav">
        <div class="dashboard_img">
            <img src="assets/images/Dashboard.svg" (click)="openDashboard()">
        </div>
        <div class="list_img">
            <img src="assets/images/Project-list.svg" (click)="showProjectList()">
        </div>
        <div class="plus_img">
            <img src="assets/images/create-project-active.svg">
        </div>
        <div class="logout_img">
            <img src="assets/images/Logout.svg" (click)="logout()">
        </div>
    </div>

    <form class="form" [formGroup]="projectForm" (ngSubmit)="onFormSubmit()">

        <div mat-dialog-content class="content">

            <table class="table">
                <tr>
                    <td class="text1">
                        <label for="area" class="text1"></label><br>
                        <textarea id="area" rows="3" cols="90" style="max-width:100%" name="area"
                            placeholder="Enter project theme" formControlName="Textarea" >Enter project theme</textarea>
                            <mat-error *ngIf="projectForm.get('Textarea')?.hasError('required') && projectForm.get('Textarea')?.touched">
                                Project theme required.
                              </mat-error>
                    </td>


                    <td mat-dialog-actions class="action1"><br>
                        <button mat-raised-button color="primary" type="submit">Save Project</button>
                    </td>
                    <div class="text2">
                        <mat-form-field [style.width.px]=260 appearance="outline">
                            <mat-label>Enter project theme </mat-label>
                            <input matInput #first>
                            <mat-hint formControlName="Textarea"></mat-hint>
                        </mat-form-field>
                    </div>
                </tr><br><br><br>
                <div class="row1">
                    <tr>
                        <td>
                            <label for="reason">Reason</label><br>
                            <select class="select1" name="reason" id="reason" formControlName="Reason"
                                [style.width.px]=350 [style.height.px]="30">
                                <option value="val" *ngFor="let val of Reason" [value]="val">{{val}}</option>
                            </select>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <td>
                            <label for="type">Type</label><br>
                            <select name="type" id="type" formControlName="Type" [style.width.px]=350
                                [style.height.px]="30">
                                <option value="val" *ngFor="let val of Type" [value]="val">{{val}}</option>
                            </select>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <td>
                            <label for="division">Division</label><br>
                            <select name="division" id="division" formControlName="Divison" [style.width.px]=350
                                [style.height.px]="30">
                                <option value="val" *ngFor="let val of Divison" [value]="val">{{val}}</option>
                            </select>
                        </td>
                    </tr>
                </div><br>

                <div class="row2">

                    <tr>
                        <td>
                            <label for="category">Category</label><br>
                            <select name="category" id="category" formControlName="Category" [style.width.px]=350
                                [style.height.px]="30">
                                <option value="val" *ngFor="let val of Category" [value]="val">{{val}}</option>
                            </select>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <td>
                            <label for="priority">Priority</label><br>
                            <select name="priority" id="priority" formControlName="Priority" [style.width.px]=350
                                [style.height.px]="30">
                                <option value="val" *ngFor="let val of Priority" [value]="val">{{val}}</option>
                            </select>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <td>
                            <label for="department">Department</label><br>
                            <select name="department" id="department" formControlName="Department" [style.width.px]=350
                                [style.height.px]="30">
                                <option value="val" *ngFor="let val of Department" [value]="val">{{val}}</option>
                            </select>
                        </td>
                    </tr>
                </div><br>

                <div class="row3">
                    <tr>
                        <td>
                            <label for="startdate">Start date as per project plan</label><br>
                            <input type="date" id="startdate" formControlName="startDate" name="startdate"
                                [style.width.px]="345" [style.height.px]="30">
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <td>
                            <label for="enddate">End date as per project plan</label><br>
                            <input type="date" id="enddate" formControlName="endDate" name="enddate"
                                [style.width.px]="345" [style.height.px]="30">
                            <mat-error
                                *ngIf="projectForm.get('endDate')?.errors?.['endDateSmaller'] && projectForm.get('endDate')?.touched">
                                End date is smaller than the start date
                            </mat-error>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <td>
                            <label for="location">Location</label><br>
                            <select name="location" id="location" formControlName="Location" [style.width.px]=350
                                [style.height.px]="30">
                                <option value="val" *ngFor="let val of Location" [value]="val">{{val}}</option>
                            </select>
                        </td>
                    </tr><br><br>                  
                    <tr class="Status">
                        <label for="Status">Status:<b>Registered</b></label>
                    </tr>
                </div>
            </table>
        </div>
    </form>
</div>

<div class="Responsive">
    <div class="bg_img1">
        <img src="assets/images/Header-bg.svg">
    </div>
    <div class="logo_img1">
        <img src="assets/images/Logo.svg">
    </div>
    <div class="logout_img1">
        <img src="assets/images/Logout.svg" (click)="logout()">
    </div>

    <div class="scrollable-container">
        <form class="form" [formGroup]="projectForm" (ngSubmit)="onFormSubmit()">
            <div class="textarea" appearance="outline">
                <h1> <textarea id="area" rows="3" cols="32" style="max-width:100%" name="area"
                        placeholder="Enter project theme" formControlName="Textarea">Enter project theme</textarea></h1>
            </div><br><br>
            <div class="Reason">
                <label for="reason">Reason</label><br>
                <select name="reason" id="reason" formControlName="Reason" style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Reason" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="Type">
                <label for="type">Type</label><br>
                <select name="type" id="type" formControlName="Type" style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Type" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="Division">
                <label for="division">Division</label><br>
                <select name="division" id="division" formControlName="Divison" style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Divison" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="Category">
                <label for="category">Category</label><br>
                <select name="category" id="category" formControlName="Category" style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Category" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="Priority">
                <label for="priority">Priority</label><br>
                <select name="priority" id="priority" formControlName="Priority" style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Priority" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="Department">
                <label for="department">Department</label><br>
                <select name="department" id="department" formControlName="Department"
                    style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Department" [value]="val">{{val}}</option>
                </select>
            </div>
            <div class="startDate">
                <label for="startdate">Start date as per project plan</label><br>
                <input type="date" id="start-date" name="start-date" formControlName="startDate"
                    style="width: 240px; height: 30px;">
            </div>

            <div class="endDate">
                <label for="enddate">End date as per project plan</label><br>
                <input type="date" id="end-date" name="end-date" formControlName="endDate"
                    style="width: 240px; height: 30px;">
                <mat-error
                    *ngIf="projectForm.get('endDate')?.errors?.['endDateSmaller'] && projectForm.get('endDate')?.touched">
                    End date is smaller than start date
                </mat-error>
            </div>

            <div class="Location">
                <label for="location">Location</label><br>
                <select name="location" id="location" formControlName="Location" style="width: 250px; height: 30px;">
                    <option value="val" *ngFor="let val of Location" [value]="val">{{val}}</option>
                </select>
            </div><br>
            <div class="Status">
                <label for="Status">Status:<b>Registered</b></label>
            </div>
            <mat-dialog-actions class="action2"><br>
                <button mat-raised-button color="primary" type="submit" style="width: 250px; height: 30px;">Save
                    Project</button>
            </mat-dialog-actions>
        </form>
        <div class="footer">
            <div class="dashboard_img1">
                <img src="assets/images/Dashboard.svg" (click)="openDashboard()">
            </div>
            <div class="list_img1">
                <img src="assets/images/Project-list.svg" (click)="showProjectList()">
            </div>
            <div class="plus_img1">
                <img src="assets/images/create-project-active.svg">
            </div>
        </div>
    </div>
</div>